<%inherit file="/base.html"/>

<%block name="content">
       <!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 100px;">
                    <table class="table mb0 pr15 ranger-box2 " width="100">
                        <thead>
                            <tr>
                                <th style="width: 50px;">#</th>
                                <th style="width: 15%;">会议名称</th>
                                <th style="width: 15%;">会议成员</th>
                                <th style="width: 10%;">主持人</th>
                                <th style="width: 15%;">创建日期</th>
                                <th>查看</th>
                                <th>填写周报</th>
                            </tr>
                        </thead>
                        <tbody>
                            % for g in groups:
                            <tr>
                                <td style="width: 70px;">${g.id}</td>
                                <td style="width: 15%;">${g.group_name}</td>

                                <td style="width: 15%;">
                                    <%  jm_obj = g.join_member.all() %>
                                    % for jm in jm_obj:
                                        ${jm.fullname}
                                    % endfor
                                </td>
                                <td style="width: 15%;">${g.hostess.fullname}</td>
                                <td style="width: 15%;">${g.create_time}</td>
                                <td>
                                    <button class="btn btn-xs btn-success" onclick="window.location.href='${SITE_URL}meeting/view/?gid=${g.id}'"> <i class="glyphicon glyphicon-ok"></i> </button>
                                </td>
                                <td >
                                    <button class="btn btn-xs btn-warning" onclick="window.location.href='${SITE_URL}job/add/?gid=${g.id}'" > <i class="glyphicon glyphicon-edit"></i> </button>
                                </td>
                                <!--
                                <td>
                                    <button class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>
                                </td>
                                -->
                            </tr>
                            % endfor
                        </tbody>
                    </table>
                </div>
            </div>
</%block>