<%inherit file="/base.html"/>

<%block name="content">

<!-- content start -->
            <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: -150px;">
                    <form class="form-horizontal">
                        <div class="form-group clearfix">
                            <label class="col-sm-3 control-label bk-lh30 pt0">周报时间：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bk-valign-top" id="" style="width:500px" placeholder="提示信息"> </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">主持人：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top" style="width:500px">
                                    <option value="选择项1">选择项1</option>
                                    <option value="选择项2">选择项2</option>
                                    <option value="选择项3">选择项3</option>
                                    <option value="选择项4">选择项4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">记录人：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top" style="width:500px">
                                    <option value="选择项1">选择项1</option>
                                    <option value="选择项2">选择项2</option>
                                    <option value="选择项3">选择项3</option>
                                    <option value="选择项4">选择项4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">会议地点：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bk-valign-top" id="" placeholder="提示信息" style="width:500px"> </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">参加人员：</label>
                            <div class="col-sm-9">
                                <select name="" id="" class="form-control bk-valign-top" style="width:500px">
                                    <option value="选择项1">选择项1</option>
                                    <option value="选择项2">选择项2</option>
                                    <option value="选择项3">选择项3</option>
                                    <option value="选择项4">选择项4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback clearfix ">
                            <label class="control-label col-sm-3 pt0" for="introduction">会议内容：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" placeholder="提示信息" style="width:500px"></textarea>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-info">提交</button>
                                <button type="button" class="king-btn king-default ">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- content end -->
</%block>