<%inherit file="/base.html"/>

<%block name='head'>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">

    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/main.css" rel="stylesheet">
    <script src="${STATIC_URL}js/index.js"></script>

<style>
    .div-left{width:300px;height:120px;border:1px solid #000;float:left}
</style>

</%block>


<%block name="content">
            <div class="container-fluid">
                <div class="panel panel-default panel-edit">
                    <div class="panel-heading">
                        运维组会议纪要及工作总结
                    </div>
                    <div class="panel-body">
                        <!-- 属性编辑栏 [[-->
                        <div class="line">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">会议纪要</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label"><span>*</span>主持人：</label>
                                            <div class="control-input">
                                                <input type="text" class="form-control" id="inputCount3" value= ${groups.hostess} disabled="disabled">
                                            </div>
                                            <div class="control-hint">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label"><span>*</span>记录人：</label>
                                            <div class="control-input">
                                                <input type="text" class="form-control" id="inputCount3" value= ${groups.recorder} disabled="disabled">
                                            </div>
                                            <div class="control-hint">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label"><span>*</span>时间：</label>
                                            <div class="control-input">
                                                <input type="text" class="form-control" id="inputCount3" value= ${groups.create_time} disabled="disabled">
                                            </div>
                                            <div class="control-hint">

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label"><span>*</span>地点：</label>
                                            <div class="control-input">
                                                <input type="text" class="form-control" id="inputCount3" value= ${groups.addr} disabled="disabled">
                                            </div>
                                            <div class="control-hint">

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label">参加人员：</label>
                                            <div class="control-input">
                                                <%  jm_obj = groups.join_member.all() %>


                                                <input type="text" style="width:650px" class="form-control" id="inputCount3" value="
% for jm in jm_obj:
 ${jm.fullname},
% endfor
                                                " disabled="disabled">
                                            </div>
                                            <div class="control-hint">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputCount3" class="control-label">会议内容：</label>
                                            <div class="control-input">
                                                <textarea id="group_context" name="group_context" class="form-control" rows="5" style="width:650px" disabled="disabled">${groups.group_context}</textarea>
                                            </div>
                                            <div class="control-hint">

                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- 属性编辑栏 ]]-->
                        <!-- 属性编辑栏 [[-->
                        <div class="line">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">本周工作内容</a>
                                </li>
                            </ul>
                            <table class="table table-header-bg table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:45%;">工作内容</th>
                                        <th style="width:10%;">跟进人</th>
                                        <th style="width:20%;">完成情况</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%  tswk_obj = groups.tswk_job.all() %>
                                % for tswk in tswk_obj:
                                    <tr>
                                        <td>1.</td>
                                        <td>
                                                ${tswk.job_item}
                                        </td>
                                        <td>
                                                ${tswk.follow_member}
                                        </td>

                                        <td>
                                            <div class="sumoselect_demo" id="sumoselect_demo1">
                                            <select name="execution" class="SlectBox" disabled="disabled">
                                                <!-- models中choses的表现形式-->
                                                <option >${tswk.get_status_display()}</option>
                                            </select>
                                    </div>
                                        </td>
                                        <td>
                                                ${tswk.remark}
                                        </td>
                                    </tr>
                                % endfor
                                </tbody>
                            </table>
                        </div>

                        <div class="line">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">下周工作计划</a>
                                </li>
                            </ul>
                            <table class="table table-header-bg table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:45%;">工作内容</th>
                                        <th style="width:10%;">跟进人</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  nexwk_obj = groups.nexwk_job.all() %>
                                    % for nexwk in nexwk_obj:
                                    <tr>
                                        <td>1.</td>
                                        <td>
                                                ${nexwk.job_item}
                                        </td>
                                        <td>
                                                ${nexwk.follow_member}
                                        </td>
                                        <td>
                                                ${nexwk.remark}
                                        </td>
                                    </tr>
                                % endfor
                                </tbody>
                            </table>
                        </div>



                        <!-- 属性编辑栏 ]]-->
                    </div>
                    <div class="panel-footer">
                        <a class="king-btn king-primary" title="保存" href="${SITE_URL}meeting/get/">返回主页</a>
                    </div>
                </div>
            </div>


<script>
    $(document).ready(function () {
        //table5_demo1_js_start
        //表格(colresizable)-1
        $("#table5_demo1 table").colResizable({
            minWidth: 50,
            liveDrag: true,
            headerOnly: true
        });
        //table5_demo1_js_end
    });
</script>

</%block>